*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   /* color:aliceblue;*/
   /* background: rgb(245, 233, 233);*/
    font-family: 'Indie Flower', cursive;

}

/* ********************************** Fond d'écran *************************************** */

@keyframes changeColors{
    0%   { background: #1e5799; }
    15%  { background: #04b090; }
    35%  { background: #64c222 ; }
    55%  { background: #dea30e; }
    75%  { background: #e02cbf ; }
    95%  { background: #9b59b6 ; }
    100% { background: #1e5799; }
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    /*background-color: grey;*/
    animation-name:changeColors;
    animation-duration: 30s;
    animation-iteration-count:infinite;/* Permet de répéter a l'infinit le changement de couleur */
    z-index: 0;
}


/* ****************************** Général ********************************** */


h2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
    font-size: 28px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px 0 0 10px;
}

h3{
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* ********************************* buttons nav barre ************************** */

/* effet bordure en vert des bouttons codes récupérer sur internet */
button{
    font-size: 20px;
    /*color: #090a0a;*/
    text-decoration: none; /* pas de décoration de texte */
    border:none;/* pas de bordure des boutons */
    background: none;/* pas de fons d'écran spécifique des boutons */
    transition: all 150ms ease-in-out;
    
}

button:hover {
    box-shadow: 0 0 20px 0 green inset, 0 0 20px 8px green;
    opacity: 1;
}

/* effet sur le background multicolors des buttons codes récupérer sur internet */
button {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    /*background: #111;*/
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite; /* rayonnement de l'animation */
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

button:active {
    color: #000
}

button:active:after {
    background: none;
}

button:hover:before {
    opacity: 1;
}

button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /*background: #111;*/
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* ****************************** Première page ********************************** */

#accueil{
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-wrap: wrap;
    z-index: 4;
    /* border: 2px solid red;*/
}

/* ****************************** Navigation ********************************** */

#navigation{
    display: flex;
    height: 50px;
    width: 100%;
    /*padding: 10px;*/
    /*z-index: 4;*/
    background:cornsilk;
    opacity: 50%;
    text-align: center;
    align-items: center;
    text-decoration: none; 
    /*border: 2px solid rgb(236, 55, 15);*/
}

/* . nav permet de positionner les bouton dans la barre de navigation */

.nav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;/* Les éléments sont répartis équitablement. Tous les éléments sont séparés par le même espace */
    /*border: 5px solid blue;*/
}

#navigation button a{
    width: 100%;
    font-size: 25px;
    font-weight:600; /* gras du texte */
    /*border: 2px solid rgb(200, 182, 18);*/
}

/* ****************************** Profil ********************************** */

#profil{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    padding:90px 0 0 20px;
    z-index: 4;
    /* border: 2px solid green;*/
}

#profil h1{
    width: 100vw;
    font-size: 50px;
    justify-content: center;
    align-items: left;
    text-align: center;
    /* border: 2px solid blue;*/
}

#profil p{
    width: 50%;
    height: 90vh;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 170px 10px 10px 20px ;
    /* border: 2px solid red;*/
}

/*  mettre la photo en rond */

#profil img{
    height: 250px;
    width: 250px;
    border-radius: 500px;
    margin: -50px 10px 10px 10px;
    box-shadow: black 0px 20px 30px -10px; /* ombre de l'image pour un effet volume */
    /*filter:grayscale(); /* filtre noir et blanc sur la photo */
    /* border: 2px solid rgb(200, 182, 18);*/
}

/* ****************************** deuxième pages ********************************** */

#parcourt{
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /*background: rgb(1, 2, 16);*/
    padding:0 0 0 20px;
    line-height: 25px; /* espace entre les lignes */
   /* border: 2px solid rgb(200, 182, 18);*/
}

.CV{
    width: 100vw;
    height:15%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*border: 2px solid blue;*/
}

.CV h2{
    width: 100vw;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.CV a {
    font-size: 25px;
    color: rgb(25, 31, 221);
}

.diplome{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 20%;
    font-size: 20px;
    padding:0 0 0 20px;
   /* border: 2px solid rgb(255, 0, 204);*/
}
.Certificats{
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    height: 10%;
    padding:0 0 0 20px;
    /*border: 2px solid rgb(115, 44, 145);*/
}

.Certificats a{
    font-size: 25px;
    color: rgb(25, 31, 221);
    margin: 0 30px 0 30px ;
}

/*.experience{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 20%;
    font-size: 20px;
    border:3px solid rgb(214, 83, 35);
}*/

.formation{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 20%;
    font-size: 20px;
    padding:0 0 0 20px;
}

.logiciels{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 8%;
    padding:0 0 0 20px;
    /* border: 2px solid rgb(0, 255, 98);*/
}

.logiciels a{
    font-size: 35px;
    margin: 0 50px 0 50px ;
    /*background-color: aliceblue;*/
}

/* Icon PHP mis en rond */
.logiciels img{
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50px;
}

.loisir{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 12%;
    font-size: 25px;
    padding:0 0 0 20px;
    /* border: 5px solid red;*/
}

.loisir a {
    text-decoration: none;
    color:black;
}

/* ****************************** troisième pages ********************************** */

#projets{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    padding:0 0 0 20px;
   /* background: rgb(1, 2, 16);*/
    justify-content: space-evenly;/* Les éléments sont répartis équitablement et sont séparés par le même espace */
    /*border: 2px solid rgb(18, 109, 200);*/
}

#projets .card h3{
    width: 100%;
    height: 10%;
    font-size: 15px;
    text-align: center;
    /*border:5px solid purple;*/
}

.card{
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    height: 40%;
    border-radius: 500 px;
    /*border: 5px solid red;*/
}

#projets .card img{
    width: 100%;
    height: 90%;
    /*padding: 5px;*/
    justify-content: center;
    align-items: center;
    image-rendering: smooth;/* Redimensionne l'image et maximise son apparence */
    border-radius: 10px;
    /*border:3px solid rgb(176, 12, 141);*/
}

/* ****************************** quatrième pages ********************************** */

#contact{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:0 0 0 20px;
   /* background: rgb(1, 2, 16);*/
   /* border: 2px solid rgb(54, 18, 200);*/
}

#contact h2{
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:50px 0 0 0;
    /*border: 5px solid rgb(190, 209, 21);*/
}

.icons{
    width: 100vw;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    font-size: 50px;
} 

.icons a {
    display: flex;
    flex-wrap: wrap;
}