*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   /* color:aliceblue;*/
   /* background: rgb(245, 233, 233);*/
    font-family: 'Indie Flower', cursive;

}

/* ********************************** Fond d'écran *************************************** */

@keyframes changeColors{
    0%   { background: #1e5799; }
    15%  { background: #2ce0bf; }
    35%  { background: #76dd2c ; }
    55%  { background: #f1c40f; }
    75%  { background: #e02cbf ; }
    95%  { background: #9b59b6 ; }
    100% { background: #1e5799; }
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    animation-name:changeColors;
    animation-duration: 30s;
    animation-iteration-count:infinite;/* Permet de répéter a l'infinit le changement de couleur */
    z-index: 0;
}


/* ****************************** Général ********************************** */


h2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-size: 28px;
    margin:10px 0 0 90px;
}

h3{
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
/* ****************************** Première page ********************************** */
#accueil{
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-wrap: wrap;
    z-index: 4;
    /* border: 2px solid red;*/
}

/* ****************************** Navigation ********************************** */
#navigation{
    height: 50px;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    padding: 10px;
    /*z-index: 4;*/
    background:cornsilk;
    opacity: 50%;
    /*text-decoration: none; ne marche pas  */
    /* border: 2px solid purple;*/
}

#navigation ul{
    display: flex;
    width: 100%;
    justify-content:space-around;
    align-items: center;
    text-align: center;
    font-size: 25px;
    font-weight:600; /* gras du texte */
    /* border: 2px solid rgb(200, 182, 18);*/
}

/* ****************************** Profil ********************************** */
#profil{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    padding:90px 0 0 20px;
    z-index: 4;
    /* border: 2px solid green;*/
}

#profil h1{
    width: 100vw;
    font-size: 50px;
    justify-content: center;
    align-items: left;
    text-align: center;
    /* border: 2px solid blue;*/
}

#profil p{
    width: 50%;
    height: 90vh;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 170px 10px 10px 20px ;
    /* border: 2px solid red;*/
}

/*  mettre la photo en rond */
#profil img{
    height: 250px;
    width: 250px;
    border-radius: 500px;
    margin: -50px 10px 10px 10px;
    /* border: 2px solid rgb(200, 182, 18);*/
    /*filter:grayscale(); /* filtre noir et blanc sur la photo */
}
/* ****************************** deuxième pages ********************************** */

#parcourt{
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /*background: rgb(1, 2, 16);*/
    padding:0 0 0 20px;
   /* border: 2px solid rgb(200, 182, 18);*/
}

.CV{
    width: 100vw;
    height: 10%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*border: 2px solid blue;*/
}

.CV h2{
    width: 100vw;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.CV a {
    font-size: 25px;
}

.diplome{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 35%;
    font-size: 20px;
    padding:0 0 0 20px;
   /* border: 2px solid rgb(255, 0, 204);*/
}
.Certificats{
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    height: 10%;
    padding:0 0 0 20px;
    /*border: 2px solid rgb(115, 44, 145);*/
}

.Certificats a{
    font-size: 25px;
    color: rgb(25, 31, 221);
    margin: 0 30px 0 30px ;
}

/*.experience{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 20%;
    font-size: 20px;
    border:3px solid rgb(214, 83, 35);
}*/

.formation{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 25%;
    font-size: 20px;
    padding:0 0 0 20px;
}

.logiciels{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 10%;
    padding:0 0 0 20px;
    /* border: 2px solid rgb(0, 255, 98);*/
}

.logiciels a{
    font-size: 35px;
    margin: 0 50px 0 50px ;
    /*background-color: aliceblue;*/
}

/* Icon PHP mis en rond */
.logiciels img{
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50px;
}

.loisir{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 10%;
    font-size: 25px;
    padding:0 0 0 20px;
    /* border: 5px solid red;*/
}

.loisir a {
    text-decoration: none;
    color:black;
}
/* ****************************** troisième pages ********************************** */

#projets{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    padding:0 0 0 20px;
   /* background: rgb(1, 2, 16);*/
    border: 2px solid rgb(18, 109, 200);
}

#projets .card h3{
    width: 100%;
    height: 20%;
    font-size: 20px;
    text-align: center;
    border:5px solid purple;
}

.card{
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    height: 40%;
    margin:5px;
    border-radius: 500 px;
    border: 5px solid red;
}

/* ****************************** quatrième pages ********************************** */

#contact{
    width: 100vw;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
   /* background: rgb(1, 2, 16);*/
   /* border: 2px solid rgb(54, 18, 200);*/
}

#contact h2{
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*border: 5px solid rgb(190, 209, 21);*/
}

.icons{
    width: 100vw;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    font-size: 50px;
} 

.icons a {
    display: flex;
    flex-wrap: wrap;
}