*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   /* color:aliceblue;*/
   /* background: rgb(245, 233, 233);*/
    font-family: 'Indie Flower', cursive;

}

/* ********************************** Fond d'écran *************************************** */

@keyframes changeColors{
    0%   { background: #33CCCC; }
    20%  { background: #33CC36; }
    40%  { background: #B8CC33; }
    60%  { background: #FCCA00; }
    80%  { background: #33CC36; }
    100% { background: #33CCCC; }
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    animation-name:changeColors;
    animation-duration: 30s;
    animation-iteration-count:infinite;/* Permet de répéter a l'infinit le changement de couleur */
    z-index: 0;
}

/*@keyframes move-background {
    from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }
  @-webkit-keyframes move-background {
    from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }
  
  @-moz-keyframes move-background {    
      from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }
  
      @-webkit-keyframes move-background {
      from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }
  
  .background-container{
      position: absolute; /*permet de le mettre que sur la première page sinon mettre en fixed pour toute les pages
      top: 0;
      left:0;
      bottom: 0;
      right: 0;
  }
  
  .background-container .stars {
      background: rgb(1, 2, 16) url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      z-index: 0;
  }
  
  .background-container .twinkling{
      width:10000px;
      height: 100%;
      background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
      background-size: 1000px 1000px;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 2;
      
      -moz-animation:move-background 70s linear infinite;
      -ms-animation:move-background 70s linear infinite;
      -o-animation:move-background 70s linear infinite;
      -webkit-animation:move-background 70s linear infinite;
      animation:move-background 70s linear infinite;
      
  }
  
  .background-container .clouds{
      width:10000px;
      height: 100%;
      background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
      background-size: 1000px 1000px;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 3;
  
     -moz-animation:move-background 150s linear infinite;
     -ms-animation:move-background 150s linear infinite;
     -o-animation:move-background 150s linear infinite;
     -webkit-animation:move-background 150s linear infinite;
     animation:move-background 150s linear infinite;
  }
  .background-container img{
    height: 70vh;
    width:70vh;
    position: absolute;
    z-index: 3;
    right: 20px;
  }*/


/* ****************************** Général ********************************** */


h2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-size: 28px;
    margin:10px 0 0 90px;
}

h3{
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
/* ****************************** Première page ********************************** */
#accueil{
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-wrap: wrap;
    z-index: 4;
    /* border: 2px solid red;*/
}

/* ****************************** Navigation ********************************** */
#navigation{
    height: 50px;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    padding: 10px;
    z-index: 4;
    /*text-decoration: none; ne marche pas  */
    /* border: 2px solid purple;*/
}

#navigation ul{
    display: flex;
    width: 100%;
    justify-content:space-around;
    align-items: center;
    text-align: center;
    font-size: 25px;
    font-weight:600; /* gras du texte */
    /* border: 2px solid rgb(200, 182, 18);*/
}

/* ****************************** Profil ********************************** */
#profil{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    padding:20px;
    z-index: 4;
    /* border: 2px solid green;*/
}

#profil h1{
    width: 100vw;
    font-size: 50px;
    justify-content: center;
    align-items: left;
    text-align: center;
    /* border: 2px solid blue;*/
}

#profil p{
    width: 50%;
    height: 90vh;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 170px 10px 10px 20px ;
    /* border: 2px solid red;*/
}

/*  mettre la photo en rond */
#profil img{
    height: 250px;
    width: 250px;
    border-radius: 500px;
    margin: 120px 10px 10px 10px;
    /* border: 2px solid rgb(200, 182, 18);*/
    /*filter:grayscale(); /* filtre noir et blanc sur la photo */
}
/* ****************************** deuxième pages ********************************** */

#parcourt{
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /*background: rgb(1, 2, 16);*/
    margin:20px;
   /* border: 2px solid rgb(200, 182, 18);*/
}

.CV{
    width: 100vw;
    height: 10%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*border: 2px solid blue;*/
}

.CV h2{
    width: 100vw;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.CV a {
    font-size: 25px;
}

.diplome{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 35%;
    font-size: 20px;
    padding:0 0 0 20px;
   /* border: 2px solid rgb(255, 0, 204);*/
}
.Cerfificats{
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    height: 10%;
    /*border: 2px solid rgb(115, 44, 145);*/
}

.Cerfificats a{
    font-size: 25px;
    margin: 0 30px 0 30px ;
}

/*.experience{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 20%;
    font-size: 20px;
    border:3px solid rgb(214, 83, 35);
}*/

.formation{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 25%;
    font-size: 20px;
    padding:0 0 0 20px;
}

.logiciels{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 10%;
    font-size: 20px;
   /* border: 2px solid rgb(0, 255, 98);*/
}

/* Icon PHP mis en rond */
.logiciels img{
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50px;
}

.loisir{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 10%;
    font-size: 20px;
   /* border: 5px solid red;*/
}

/* ****************************** troisième pages ********************************** */

#projets{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
   /* background: rgb(1, 2, 16);*/
    border: 2px solid rgb(18, 109, 200);
}

.card{
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    height: 25%;
    margin:5px;
    border-radius: 500 px;
    border: 5px solid red;
}

/* ****************************** quatrième pages ********************************** */

#contact{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
   /* background: rgb(1, 2, 16);*/
    color: white;
    border: 2px solid rgb(54, 18, 200);
}

#icons{
    display: flex;
    flex-wrap: wrap;
    font-size: 50px;
}